{
  "version" : "2018-05-29",
  "operation" : "UpdateItem",
  "key" : {
      "id" : $util.dynamodb.toDynamoDBJson($ctx.args.input.contestId)
  },
  "update" : {
    "expression" : "set #status = :s, statusChangedAt = :c, notes = :n, winners = :w",
    "expressionNames" : {
      "#status" : "status"
    },
    "expressionValues" : {
      ":s" : { "S" : "ENDED" },
      ":c" : $util.dynamodb.toDynamoDBJson($util.time.nowISO8601()),
      ":n" : $util.dynamodb.toDynamoDBJson($ctx.args.input.notes),
      ":w" : $util.dynamodb.toDynamoDBJson($ctx.args.input.winners)
    }
  },
  "condition" : {
    "expression" : "#status = :expectedStatus",
    "expressionNames" : {
      "#status" : "status"
    },
    "expressionValues" : {
      ":expectedStatus" : { "S" : "VOTING" }
    }
  }
}
